.squares {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(7, 15px);
    width: auto;
}

.child {
    background-color: green;
    text-align: center;
    margin: 1px;
    border-radius: 2px;
}